hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color: lightgray;
    height: 1px;
}

.divider {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    color: lightgray;
    width: 100%;
}